* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #000000;
}

/* Navbar styling */
.navbar {
    background-color: #181818;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar list */
.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

/* Navbar items */
.nav-list li {
    position: relative;
    padding: 0 10px;
}

.nav-list li a {
    text-decoration: none;
    color: #cdcdcd;
    font-size: .7rem;
    padding: 0 10px;
    transition: color 0.3s;
}

/* .nav-list li a:hover {
    color: #0071e3;
} */

/* Dropdown styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181818;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    min-width: 15rem;
    z-index: 1;
    left: 0;
}

.dropdown-content li {
    padding: 5px 0;
}

.dropdown-content .dropdown-title {
    color: gray;
    margin: 40px 0 15px 10px;
    font-size: .8rem;
}

.dropdown-content li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #cdcdcd;
    font-size: 1.1rem;
    font-weight: bold;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    width: 100vw;
}

/* Logo styling */
.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 0 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        position: absolute;
        background-color: #f8f8f8;
        top: 60px;
        width: 100%;
        left: -100%;
        transition: left 0.3s;
    }

    .nav-list li {
        padding: 15px 0;
    }

    .nav-list.open {
        left: 0;
    }
}

/* Hamburger menu icon for mobile */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
    }
}
/* navbar end */

/* video start */
.video {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video video {
    width: 50%;
    margin: 0;
}

.video .content-video {
    color: white;
    position: absolute;
    bottom: 10%;
}

.video .content-video h1,
.video .content-video p {
    text-align: center;
}

.video .content-video h1{
    font-size: 3rem;
}

.video .content-video p {
    font-size: 1.6rem;
}

.video .content-video .glowtime-1 {
    text-shadow: -4px -10px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-high)), -4px -4px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-high)), -4px 0px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-low)), -4px 4px var(--glowtime) rgba(0, 128, 219, var(--opacity-var-low)), -4px 12px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-low)), 40px -2px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-low)), 40px 0px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-low)), 40px 4px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-high));
    
}

.video .content-video .glowtime-2 {
    text-shadow: 2px -10px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-low)), 2px -2px var(--glowtime) rgba(0, 128, 217, var(--opacity-var-low)), 2px 0px var(--glowtime) rgba(112, 98, 217, var(--opacity-var-low)), 2px 4px var(--glowtime) rgba(112, 98, 217, var(--opacity-var-low)), 2px 12px var(--glowtime) rgba(112, 98, 217, var(--opacity-var-low)), 20px 0px var(--glowtime) rgba(191, 69, 172, var(--opacity-var-low)), 20px 4px var(--glowtime) rgba(191, 69, 172, var(--opacity-var-low));
    
}

.video .content-video .glowtime-3 {
    text-shadow: 8px -10px var(--glowtime) rgba(112, 98, 217, var(--opacity-var-low)), 8px -2px var(--glowtime) rgba(191, 69, 172, var(--opacity-var-high)), 8px 0px var(--glowtime) rgba(191, 69, 172, var(--opacity-var-high)), 8px 4px var(--glowtime) rgba(191, 69, 172, var(--opacity-var-high)), 8px 12px var(--glowtime) rgba(191, 69, 172, var(--opacity-var-high));
}

.video .content-video .glowtime-4 {
    text-shadow: 13px -10px 20px rgba(206, 56, 118, var(--opacity-var-low)), 13px -2px var(--glowtime) rgba(206, 56, 118, var(--opacity-var-low)), 13px 0px var(--glowtime) rgba(206, 56, 118, var(--opacity-var-high)), 13px 4px var(--glowtime) rgba(206, 56, 118, var(--opacity-var-high)), 13px 12px var(--glowtime) rgba(206, 56, 118, var(--opacity-var-low));    
}

.video .content-video button {
    margin: 0 auto;
}
/* video end */